.topSection {
  background-image: url("/src/images/assets/newBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  margin-top: -40px;
}

.introTagline {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 80%;
}

.introText {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 80%;
}

.getStartedBtn {
  display: flex;
  height: 50px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: #fff;
  color: rgba(37, 39, 98, 1);
  box-shadow: 0px 0px 34.1px 0px rgba(104, 180, 255, 0.5);
  cursor: pointer;
}

.getStartedBtn {
  display: flex;
  width: 100px;
  height: 30px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.getStartedBtn:hover {
  font-weight: bold;
}

.socialmediaLinks {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  gap: 20px;
  padding-left: 20px;
}

/* container */

.section {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  padding-top: 120px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background: #f8f9ff;
  position: relative;
}

.childContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
}

.headingShadow {
  position: relative;
  align-self: flex-start;
  top: 1.5rem;
  color: #122577;
  font-size: 7vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  opacity: 0.05;
}

.containerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 40px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 34.854px 29.626px 48.34px 0px rgba(0, 0, 0, 0.05);
  z-index: 1;
  flex-wrap: wrap;
  /* gap: 10px; */
}

.contentImage {
  width: 100%; /* Set to 100% for better wrapping */
  width: 5rem; /* Allow it to take full width on smaller screens */
  flex: 1 1 50%; /* Adjust the flex property to allow wrapping */
}

.contentText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 30px;
  width: 100%; /* Set to 100% for better wrapping */
  width: 50rem; /* Allow it to take full width on smaller screens */
  flex: 1 1 50%; /* Adjust the flex property to allow wrapping */
}

.contentTextHeader {
  color: #122577;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contextTextDetail {
  color: #5a5a5a;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.contentTextFooter {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer {
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.footerHead {
  background: #252762;
  height: 40vh;
  align-self: stretch;
}

.footerLower {
  display: flex;
  padding: 192px 160px 30px 160px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  align-self: stretch;
  background: #f8f9ff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logofooter {
  width: 160px;
}

.socialmediaLogosFooter {
  gap: 1rem;
  display: flex;
}

.socialMediaIcon {
  background-color: rgba(0, 24, 61, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 3px;
  font-size: 2px;
}

.footerContent {
  display: flex;
  height: 333px;
  justify-content: space-between;
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
}

.footerSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.footerSection p {
  display: flex;
  text-align: center;
  gap: 10px;
}

.footerSection1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 30%;
  text-align: left;
}

.footerSection1 p {
  align-self: stretch;
}

.footerBottom {
  padding: 20px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9ff;
  color: #272727;
}

.footerBottomOptions {
  display: flex;
  gap: 1rem;
}

.footerComponent {
  display: flex;
  width: 82%;
  padding: 60px;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 7%;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 48.34px 0px rgba(0, 0, 0, 0.05);
  left: 50%;
  transform: translateX(-50%);
}
.footerComponentText {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footerComponentHeader {
  color: #00183d;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.enquireBtn {
  display: flex;
  width: 100px;
  height: 30px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  background: #00183d;
  color: rgba(255, 255, 255, 1);
}
