.introParent {
  display: flex;
  justify-content: center;
}

.introNavbar {
  display: flex;
  width: 70%;
  gap: 6%;
  align-items: center;
  position: absolute;
  margin-top: -40px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
  padding: 0px 30px;
  min-height: 80px;
  flex-wrap: wrap;
}

.option {
  color: #a9a9a9;
  width: auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  padding: 25px 0px;
  border-bottom: 2px solid #fff;
}

.option:hover {
  color: black;
  font-weight: 600;
  border-bottom: 2px solid black;
}
